<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>MOU</title>
    </head>
    <body>
        <header class="header" th:fragment="header">
            <div id="top">
                <h1 id="title">Men of the Ummah</h1>
                <h5 id="loggedin"></h5>
            </div>

            <img class="image" th:src="@{/images/back3.jpg}">

            <nav class="topnav" id="myTopnav">
                <a id="home" href="/">Home</a>
                <a id="aboutus" href="/aboutus">About Us</a>
                <a id="events" href="/events">Events</a>
                <a id="login" href="/login" th:if="${!loggedin}">Admin Login</a>
                <a id="logout" href="/logout" th:if="${loggedin}">Logout</a>
            </nav>
        </header>

        <footer class="footer" th:fragment="footer">
            <hr/>
            <h5>Copyright &copy; 2023 Men of the Ummah</h5>
        </footer>
    </body>
</html>