<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>MOU</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/headerfooter.css?version=38}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/newevent.css?version=4}"/>

        <script th:inline="javascript">
            //var prev_handler = window.onload;
            window.onload = function () {
                // if (prev_handler) {
                //     prev_handler();
                // }

                var eventname = /*[[${eventname}]]*/ "";
                if (eventname != null){//editing, not creating
                    document.getElementById("submitbutton").innerText = "Update Event";
                    document.getElementById("message").innerHTML = "Edit Event";
                    
                    document.getElementById("eventname").value = eventname;
                    document.getElementById("eventdescription").value = /*[[${eventdescription}]]*/ "";
                    document.getElementById("eventdate").value = /*[[${eventdate}]]*/ "";
                }
            }
        </script>
    </head>
    <body>
        <div th:replace="~{headerfooter :: header}"></div>

        <div class="container">
            <form th:action="@{/events/newevent}" method='post'>
                <h3 id="flashmessage" th:text="${flashmessage}"></h3>
                <h1 id="message">Create New Event</h1>
                <div class="container1">
                    <label for="name">Name:</label>
                    <input id="eventname" type="text" placeholder="Enter Name of Event" name="name" required>

                    <label for="desc">Description:</label>
                    <input id="eventdescription" type="text" placeholder="Enter Description of Event" name="desc" required>
                
                    <label for="date">Date:</label>
                    <input id="eventdate" type="date" name="date" required>
                        
                    <button id="submitbutton" type="submit">Create Event</button>
                </div>
            </form>
        </div>

        <div th:replace="~{headerfooter :: footer}"></div>
    </body>
</html>