<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>MOU</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/headerfooter.css?version=38}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/newevent.css?version=3}"/>
    </head>
    <body>
        <div th:replace="~{headerfooter :: header}"></div>

        <div class="container">
            <form th:action="@{/events/newevent}" method='post'>
                <h1 id="message">Create New Event</h1>
                <div class="container1">
                    <label for="name">Name:</label>
                    <input type="text" placeholder="Enter Name of Event" name="name" required>

                    <label for="desc">Description:</label>
                    <input type="text" placeholder="Enter Description of Event" name="desc" required>
                
                    <label for="date">Date:</label>
                    <input type="date" name="date" required>
                        
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>

        <div th:replace="~{headerfooter :: footer}"></div>
    </body>
</html>